demos
diffusers
einops
fire
fitz
fsspec
gradio
imageio
imageio[ffmpeg]
invisible_watermark
joblib
kornia
lovely_numpy
lovely_tensors
lpips
matplotlib
mediapy
natsort
numpy
omegaconf
open_clip_torch
opencv_python
pandas
packaging
peft
Pillow
Pillow
plotly
protobuf
pudb
pyquaternion
pytorchvideo
pyspng
pytest
pytorch_fid
pytorch_lightning
Requests
rich
safetensors
scikit-image
scikit_learn
scipy
seaborn
streamlit
torch
torchdata
torchvision
tqdm
transformers
wandb
webdataset
xformers
